html, 
body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    display: flex; 
    height: 10%;
}

header {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #656668;
    font-family: 'Trebuchet MS';
    text-decoration: none;
    font-size: xx-large;
}

footer {
    background-color: #495057;
    color: white;
    justify-content: center;
}

.more-menu {
    width: 2.3rem;
    height: 2.5rem;
    cursor: pointer;
}

.main-text {
    color: rgb(91, 115, 250);
    text-align: center;
    width: 50%;
}

.main-text p {
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    background-image: url(images/main-background.png);
    align-items: center;
    height: 80%;
}

.blocks {
    display: flex;
}

.leftblock,
.middleblock,
.rightblock {
    background-color: white;
    color: rgb(91, 115, 250);
    margin: 35px;
    padding: 40px;
    width: 300px;
    text-align: center;
    border-radius: 5%;
}

.leftblock img,
.middleblock img,
.rightblock img {
    width: 300px;
    height: 200px;
}

.leftblock p,
.middleblock p,
.rightblock p {
    color: black;
}

button {
    background-color: #ff9d41;
    justify-self: center;
    color: white;
    padding: 12px;
    width: 80%;
    border: none;
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    transform: translateY(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 900px) {
    .blocks {
        flex-direction: column;
    }

    .main-text {
        width: 80%;
    }

    main {
        height: fit-content;
    }

    .leftblock,
    .middleblock,
    .rightblock {
        width: 500px;
    }
}

