main {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    overflow-x: hidden;
  }

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

header, footer {
    background-color: #96acdf;
    color: white;
    width: 100%;
    padding: 40px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 2px solid #000;
}

.upper_logo{
    background-color: white;
    color: #000;
    width: 15%;
    border: 2px solid black;
}

.footer_logo{
    background-color: white;
    color: #000;
    width: 18%;
    text-align: left;
    border: 2px solid black;
}

nav ul {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #007BFF;    
    background-color: #f0f0f0; 
    border-radius: 4px; 
}

footer p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.main_section{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.upper_section{
    background: #cae4c2;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    width: 100%;
}

.center_section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.right_side{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8cf9d;
    border-left: #000 2px solid;
    border-right: #000 2px solid;
}

.lower_sections{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main_section_info{
    background: #cae4c2;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-top: 2px solid #000;
}

.main_section_image{
    display: flex;
    flex: 1 1 auto;
    justify-content: center; 
    align-items: center; 
}

.main_section_image img {
    width: 45%; 
    height: auto;
}

.main_section_aboutUS{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

aside {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8cf9d;
    border-left: #000 2px solid;
    border-right: #000 2px solid;
}

@media (max-width: 768px) {
    aside {
        width: 100%;
        border: none;
    }

    section {
        width: 100%;
    }
}
